th {
  border-bottom: 1px solid var(--mui-palette-border-main);
}

th[data-is-sortable="true"] {
  cursor: pointer;
}

th[data-is-sortable="true"]:hover > span {
  color: var(--mui-palette-text-primary);
}

th[data-is-sortable="true"]:hover > svg {
  color: var(--mui-palette-text-primary);
}

tr > {
  th:last-child {
    padding-right: 8px;
  }
}

.row {
  color: var(--mui-palette-text-secondary);
  transform: translateZ(0);
}

.row:hover {
  background-color: var(--mui-palette-action-hover);
  color: var(--mui-palette-text-primary);
}

.row > {
  :first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
  :last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding-right: 8px;
  }
}

.row[data-non-dragged="true"] {
  background-color: var(--mui-palette-background-paper) !important;
  color: var(--mui-palette-text-secondary) !important;
}

.row[data-dragged="true"] {
  background-color: var(--mui-palette-action-selected) !important;
  color: var(--mui-palette-text-primary) !important;
}

.row[data-is-over="true"] > td::after {
  background-color: var(--mui-palette-primary-main);
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.row[data-selected="true"] {
  background-color: var(--mui-palette-action-selected);
  color: var(--mui-palette-text-primary);
}

.row[data-selected="true"]:hover {
  background-color: var(--mui-palette-action-hoverSelected);
}

.row[data-selected-above="true"] > {
  :first-child {
    border-top-left-radius: 0px !important;
  }
  :last-child {
    border-top-right-radius: 0px !important;
  }
}

.row[data-selected-below="true"] > {
  :first-child {
    border-bottom-left-radius: 0 !important;
  }
  :last-child {
    border-bottom-right-radius: 0 !important;
  }
}

td.duration {
  font-size: 0.95rem;
  text-align: right;
  width: 64px;
}

th.duration {
  padding-top: 6px;
  text-align: right;
  width: 64px;
}

td.distance,
td.grandparentTitle,
td.lastViewedAt,
td.originallyAvailableAt,
td.originalTitle,
td.parentTitle,
td.parentYear,
td.ratingCount,
td.viewCount {
  font-size: 0.95rem;
  overflow: hidden;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 128px;
}

th.distance,
th.grandparentTitle,
th.lastViewedAt,
th.originallyAvailableAt,
th.originalTitle,
th.parentTitle,
th.parentYear,
th.ratingCount,
th.viewCount {
  padding-top: 4px;
  text-align: left;
  width: 128px;
}

td.grandparentTitle,
td.originalTitle,
td.parentTitle,
th.grandparentTitle,
th.originalTitle,
th.parentTitle {
  width: 66%;
}

td.distance,
th.distance,
td.parentYear,
th.parentYear {
  width: 64px;
}

td.originallyAvailableAt,
th.originallyAvailableAt,
td.ratingCount,
th.ratingCount {
  width: 164px;
}

td.viewCount,
th.viewCount {
  width: 104px;
}

td.index {
  font-size: 0.95rem;
  width: 52px;
  text-align: center;
}

th.index {
  padding-top: 6px;
  text-align: center;
  width: 52px;
}

td.parentIndex {
  color: var(--mui-palette-text-secondary);
  pointer-events: none;
  width: 0px;
}

th.parentIndex {
  width: 0px;
}

td.thumb {
  padding-left: 8px;
  padding-right: 8px;
  width: 40px;
}

th.thumb {
  padding-left: 8px;
  padding-right: 8px;
  width: 40px;
}

td.title {
  overflow: hidden;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

th.title {
  padding-top: 4px;
  text-align: left;
  width: 100%;
}

td.userRating {
  text-align: right;
  width: 76px;
}

th.userRating {
  padding-top: 6px;
  text-align: right;
  width: 76px;
}
