.album-cover {
    background: var(--img);
    background-size: cover;
    background-position: center top;
    border-radius: 4px;
    width: 100%;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
    transition: 0.2s;
    display: flex;
    transform: scale(0.95);
}

.album-box {
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.album-box:hover > * {
    transform: scale(1) translateZ(0px);
}