.artist-banner {
    background: var(--img) no-repeat fixed;
    box-shadow: inset 0 0 0 50vw rgba(var(--color), var(--alpha));
    height: 100%;
    width: 100%;
    background-size: calc(var(--width) + var(--grow));
    background-position-x: calc(50% + var(--posX));
    background-position-y: 50px;
}