/* arimo-regular - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('../../fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2')
}

/* arimo-600 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
       url('../../fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2')
}

/* arimo-500 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local(''),
       url('../../fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2')
}

/* arimo-700 - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('../../fonts/Arimo/arimo-v26-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2')
}

/* work-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('../../fonts/WorkSans/work-sans-v17-latin-ext_latin-regular.woff2') format('woff2')
}

/* work-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
       url('../../fonts/WorkSans/work-sans-v17-latin-ext_latin-600.woff2') format('woff2')
}

/* work-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('../../fonts/WorkSans/work-sans-v17-latin-ext_latin-700.woff2') format('woff2')
}

/* rubik-regular - latin-ext_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('../../fonts/Rubik/rubik-v20-latin-ext_latin-regular.woff2') format('woff2')
}

/* rubik-700 - latin-ext_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('../../fonts/Rubik/rubik-v20-latin-ext_latin-700.woff2') format('woff2')
}

/* ttcommons-600 */
@font-face {
  ascent-override: 105%;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
       url('../../fonts/TTCommons/ttcommons-600.woff') format('woff')
}

/* ttcommons-700 */
@font-face {
  ascent-override: 105%;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('../../fonts/TTCommons/ttcommons-700.woff') format('woff')
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

body {
  height: 100vh;
  margin: 0;
  font-family: Arimo, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
  user-select: none;
  width: 100vw;
  -webkit-user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

select:focus-visible {
  outline: none;
}

.box > svg {
  opacity: 0;
}

.box:hover > svg {
  opacity: 1;
}

.disable-hover {
  .list-box {
    pointer-events: none;
  }
  .track-table {
    pointer-events: none;
  }
}

.generic-icon {
  height: 65% !important;
  margin-bottom: auto;
  margin-top: auto;
  width: 65% !important;
}

.MuiAvatar-root {
  svg {
    opacity: 1 !important;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.active {
  text-decoration: none;
}

.playlist-footer {
  border-top: 1px solid var(--mui-palette-border-main);
}

.playlist-footer-over[data-smart="false"] {
  border-top: 1px solid var(--mui-palette-primary-main);
}

.playlist-track {
  transform: translateZ(0);
}

.playlist-track-over[data-smart="false"] > div {
  pointer-events: none;
}

.playlist-track-over[data-smart="false"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--mui-palette-primary-main);
}

.rating-container {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  text-align: left;
  color: #faaf00;
  height: 20px;
  overflow: hidden;
}

.rating-container > * {
  height: 20px;
}

.rating-star > * {
  height: 20px;
}

.rating-star:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  border: solid 2px transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
  border-radius: 8px;
  min-height: 30px;
}

.scroll-container:hover {
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--mui-palette-text-disabled);
  }
}

.scroll-container.grouped > div[data-viewport-type="element"] {
  height: calc(100% - 71px) !important;
  top: 71px !important;
}

.szh-menu {
  background-color: var(--mui-palette-background-paper);
  background-image: var(--mui-overlays-9);
  border-radius: 4px;
  box-shadow: var(--mui-shadows-8);
  color: var(--mui-palette-text-primary);
  font-size: 0.875rem;
  max-width: 164px;
  min-width: 164px;
  padding: 4px 0;
  z-index: 2000;
  :last-child {
    margin-bottom: 0;
  }
}

.szh-menu-button.sort {
  background-color: transparent;
  border: none;
  padding: 0;
}

.szh-menu-container {
  height: 100vh;
  top: 0;
  width: 100vw;
  z-index: 1990;
}

.szh-menu-container--itemTransition .szh-menu__item {
  transition-property: background-color;
  transition-duration: 0ms;
}

.szh-menu__arrow {
  background-color: var(--mui-palette-background-paper);
  background-image: var(--mui-overlays-9);
}

.szh-menu__divider {
  background-color: var(--mui-palette-border-main);
  margin: 4px 10px;
}

.szh-menu__header {
  color: var(--mui-palette-text-secondary);
  padding: 0.2rem 0.5rem;
}

.szh-menu__item {
  cursor: default;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 4px 0 4px;
  min-height: 24px;
  padding: 6px 8px;
}

.szh-menu__item > span {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.szh-menu__item--anchor {
  color: inherit;
  text-decoration: none;
}

.szh-menu__item--hover {
  background-color: var(--mui-palette-action-selected);
}

.szh-menu__item--type-checkbox {
  padding-left: 2.2rem !important;
}

.szh-menu__item--hover.error {
  background-color: rgba(var(--mui-palette-error-mainChannel) / 0.80);
}

.szh-menu__submenu > .szh-menu__item::after {
  right: 0.5rem;
}

.titlebar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  user-select: none;
  z-index: 1400;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.titlebar-nodrag {
  -webkit-app-region: no-drag;
}

.track {
  border-radius: 4px;
  color: var(--mui-palette-text-secondary);
}

.track[data-selected-above="true"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.track[data-selected-below="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.track[data-dragging="true"] {
  pointer-events: none;
}

.track:hover {
  background-color: var(--mui-palette-action-hover);
  color: var(--mui-palette-text-primary);
}

.selected {
  background-color: var(--mui-palette-action-selected);
  color: var(--mui-palette-text-primary);
}

.selected:hover {
  background-color: var(--mui-palette-action-hoverSelected);
}

.non-dragged {
  background-color: transparent !important;
  color: var(--mui-palette-text-secondary) !important;
}

.dragged {
  background-color: var(--mui-palette-action-selected) !important;
  color: var(--mui-palette-text-primary) !important;
}

#playlist-box {
  border: 1px solid transparent;
}

#playlist-box[data-drag-type="album"][data-is-over="true"],
#playlist-box[data-drag-type="artist"][data-is-over="true"],
#playlist-box[data-drag-type="track"][data-is-over="true"],
#playlist-box[data-drag-type="playqueue-item"][data-is-over="true"] {
  border: 1px solid var(--mui-palette-primary-main);
  border-radius: 4px;
}
