.single-track {
  border: 1px solid transparent;
  svg {
    display: none;
  }
}

.single-track:hover {
  svg {
    display: inherit;
  }
}

.single-track-over {
  svg {
    display: none;
  }
  border-top: 1px solid tomato;
}

.single-track-over > div {
  pointer-events: none;
}