.queue-track {
  border: 1px solid transparent;
  transform: translateZ(0);
  svg {
    display: none;
  }
}

.queue-track:hover {
  svg {
    display: inherit;
  }
}

.queue-track-over {
  svg {
    display: none;
  }
}

.queue-track-over::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--mui-palette-info-main);
}

.queue-track-over > div {
  pointer-events: none;
}

.queue-box::after {
  align-items: center;
  border: 1px solid transparent;
  content: "";
  display: flex;
  height: 12px;
  justify-content: center;
}

.queue-box-over::after {
  border-top: 1px solid var(--mui-palette-info-main);
  content: var(--queue-box-content);
  height: 32px;
}

.compact-queue {
  border: 1px solid transparent;
}